:root {
    --nav-sidebar-width:14vw;
    --misc-sidebar-width:16vw;
    --top-navbar-height:3rem;
}

.root {
}

.navbar-toggler {
    display: none;
}

.nav-sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: var(--nav-sidebar-width);
}
.nav-sidebar .navbar {
    display: none;
}
.nav-sidebar #nav_items {
    display: block;
    width: 100%;
    position: relative;
    top: 0px;
}

#nav_items ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-navbar {
    position: fixed;
    left: var(--nav-sidebar-width);
    top: 0px;
    right: var(--misc-sidebar-width);
    height: var(--top-navbar-height);
}

.misc-sidebar {
    position: fixed;
    top: 0px;
    right:0px;
    bottom: 0px;
    width: var(--misc-sidebar-width);
}

.main-pane {
    padding-top: var(--top-navbar-height);
    padding-left: var(--nav-sidebar-width);
    padding-right: var(--misc-sidebar-width);
}