:root {
    --nav-sidebar-width:14vw;
    --nav-sidebar-bgcolor: unset;
    --misc-sidebar-width:16vw;
    --main-pane-width:70vw;
    --top-navbar-height:3rem;
}

.root {
    display: flex;
    flex-direction: row;
}

.navbar-toggler {
    display: none;
}

.nav-sidebar {
    position:sticky !important;
    top: 0px;
    width: var(--nav-sidebar-width);

    display: flex;
    flex-direction: column !important;
    background-color: var(--nav-sidebar-bgcolor);

    box-shadow: none !important;
    --webkit-box-shadow: none !important;
}
.nav-sidebar .navbar {
    display: none;
}
.nav-sidebar #nav_items {
    display: block;
    width: 100%;
    position: relative;
    top: 0px;
}

#nav_items ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-navbar {
    position: fixed;
    top: 0px;
    left: var(--nav-sidebar-width);
    right: var(--misc-sidebar-width);
    background-color: var(--cool-gray-20);
}

.misc-sidebar {
    position:sticky;
    top: 0px;
    left:0px;
    width: var(--misc-sidebar-width);
}

.main-pane {
    height: 100vh;
    margin-top: var(--top-navbar-height);
    width: var(--main-pane-width);
}

.menu {
    flex-direction: column !important;
}

.menu-header {
    display:flex !important;
    flex-direction: column !important;
    margin-left: auto;
    margin-right: auto !important;
}

.menu-sidebar .logo {
    height: 6rem;
    width: 6rem;
}

#menu_box {
    flex-grow: unset;
    background-color: white;
    border-radius: 1rem;
}