:root {
    --nav-sidebar-width: 15vw;
    --nav-sidebar-bgcolor: unset;
    --misc-sidebar-width: 15vw;
    --main-pane-width: 70vw;
    --top-navbar-height: 3rem;
}

.root {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-areas: "sidebar topbar miscbar"
        "sidebar main miscbar";

    grid-template-columns: var(--nav-sidebar-width) 1fr var(--misc-sidebar-width);
    grid-template-rows: 3rem 1fr;
}

.sidebar {
    grid-area: sidebar;
}

.topbar {
    grid-area: topbar;
}

.main {
    grid-area: main;
}

.miscbar {
    grid-area: miscbar;
}

.navbar-toggler {
    display: none;
}

.nav-sidebar {
    position: sticky !important;
    top: 0px;
    height: 100vh;

    display: flex;
    flex-direction: column !important;
    background-color: var(--nav-sidebar-bgcolor);

    box-shadow: none !important;
    --webkit-box-shadow: none !important;
}

.nav-sidebar .navbar {
    display: none;
}

.nav-sidebar #nav_items {
    display: block;
    width: 100%;
    position: relative;
    top: 0px;
}

#nav_items ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top-navbar {
    position: fixed;
    top: 0px;
    left: var(--nav-sidebar-width);
    right: var(--misc-sidebar-width);
    background-color: unset;
    padding: 0 1rem 0 1rem;
}

.top-navbar nav {
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0 0 1rem 1rem;
}

.misc-sidebar {
    position: sticky;
    top: 0px;
    height: 100vh;
}

.main-pane {}


.menu {
    flex-direction: column !important;
    padding: 0.25rem;
}

.menu-header {
    display: flex !important;
    flex-direction: column !important;
    margin-left: auto;
    margin-right: auto !important;
}

.menu-sidebar .logo {
    height: 6rem;
    width: 6rem;
}

#menu_box {
    flex-grow: unset;
    background-color: white;
    border-radius: 0 1rem 1rem 0;
}

.menu-sidebar .active.nav-link::before {
    content: " ";
    background: unset;
    height: 1rem;
    width: 1rem;
    display: block;
    z-index: 1;
    position: absolute;
    top: -1rem;
    right: 0px;
    border-radius: 0 0 1rem 0;
    box-shadow: 0.25rem 0.35rem var(--bg-root);
}

.menu-sidebar .active.nav-link::after {
    content: " ";
    background: unset;
    height: 1rem;
    width: 1rem;
    display: block;
    z-index: 1;
    position: absolute;
    right: 0px;
    border-radius: 0 1rem 0 0;
    box-shadow: 0.25rem -0.35rem var(--bg-root);
}