.multi-range {
    height: 3rem;
  }
  
  .multi-range > input[type="range"] {
    height: 2rem;
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0 2px;
    overflow: hidden;
    border: 0;
    border-radius: 0.5rem;
    /* background: linear-gradient(grey, grey) no-repeat center; */
    background-size: 100% 0.3rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    pointer-events: none;
  }
  .multi-range > input[type="range"]:nth-child(2) {
    background-color: transparent;
  }
  
  .multi-range > input[type="range"]::-webkit-slider-thumb {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: blue;
    position: relative;
    z-index: 3;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    pointer-events: all;
  
    /* -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;*/
    margin-top: -1rem; 
  }
  .multi-range > input[type="range"]:nth-child(2)::-webkit-slider-thumb {
    background-color: red;
    z-index: 1;
  }
  
  .multi-range > input[type="range"]::-webkit-slider-runnable-track {
    background-color: gray;
    pointer-events: all;
    height: 3px;
  }
  
  .multi-range > input[type="range"]:nth-child(2)::-webkit-slider-runnable-track {
    height: 3px;
  }
  
  .multi-range > input[type="range"]::-moz-range-thumb {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: blue;
    position: relative;
    z-index: 3;
    cursor: pointer;
    -moz-appearance: none;
    appearance: none;
    pointer-events: all;
  
    /* -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin: -0.9rem 0 0 0; */
    margin-top: -1rem; 
  }
  
  .multi-range > input[type="range"]:nth-child(2)::-moz-range-thumb {
    background-color: red;
    z-index: 1;
  }
  
  .multi-range > input[type="range"]::-moz-range-track {
    background-color: gray;
    pointer-events: all;
  }
  .multi-range > input[type="range"]:nth-child(2)::-moz-range-track {
    height: 3px;
    background-color: transparent;
  }

  .rnd-handler-cmp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }