.menu-layer-0 {
  margin-bottom: 0.5rem;
}
.menu-layer-0 .menu-label {
  font-size: x-large;
  font-weight: bolder;
  line-height: 1.25;
}
.menu-layer-0 .nav-link {
  padding-top: 0.125rem;
  padding-bottom: 0.25rem;
}
.menu-layer-1 {
  margin-left: 1.375rem;
  margin-bottom: 0.3rem;
}
.menu-layer-1 .menu-label {
  font-size: large;
  font-weight: bolder;
  line-height: 1.25;
}
.menu-layer-1 .nav-link {
  padding-top: 0.125rem;
  padding-bottom: 0.25rem;
}
.menu-layer-2 {
  margin-left: 1rem;
}
.menu-layer-2 .menu-label {
  font-size: medium;
  font-weight: normal;
  line-height: 1.25;
}
.menu-layer-2 .nav-link {
  padding-top: 0.125rem;
  padding-bottom: 0.25rem;
}
.menu-sidebar {
  position: fixed;
}
.menu-sidebar .logo {
  height: 6rem;
  width: 6rem;
}
.menu-sidebar .menu_header .nav-title > h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: darkgray;
}
.menu-sidebar .menu_header .nav-title > h5:before,
.menu-sidebar .menu_header .nav-title > h5:after {
  content: '';
  border-top: 2px solid;
  margin: 0 5px 0 0;
  flex: 1 0 2px;
  color: darkgray;
}
.menu-sidebar .menu_header .nav-title > h5:after {
  margin: 0 0 0 2px;
}
.menu-sidebar .menu_header .logo a > img {
  transform: scaleX(-1);
}
@media (max-width: 992px) {
  .menu_sidebar {
    position: relative;
    width: auto;
  }
  .menu_sidebar .menu_header {
    position: fixed;
    z-index: 100;
    left: 15px;
    right: 15px;
    top: 0px;
  }
  .menu_sidebar .menu_header .logo {
    height: 3rem;
    width: 3rem;
  }
  .menu_sidebar #menu_nav {
    position: fixed;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
  }
  .menu_sidebar #menu_nav .navbar-toggler {
    display: block;
  }
  .menu_sidebar .menu-layer-1 a {
    margin-left: auto;
  }
  .menu_sidebar .menu-layer-2 a {
    margin-left: auto;
  }
}

